In [1]:
import pandas as pd 
import numpy as np

'/Users/phoenixonwork/Documents/coding/Ineuron/Project/Credit_card_default/EDA'

In [15]:

df=pd.read_csv('UCI_Credit_Card.csv')
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [16]:
# there is no null value present in datasets 
df[df.isnull()].sum()

ID                            0.0
LIMIT_BAL                     0.0
SEX                           0.0
EDUCATION                     0.0
MARRIAGE                      0.0
AGE                           0.0
PAY_0                         0.0
PAY_2                         0.0
PAY_3                         0.0
PAY_4                         0.0
PAY_5                         0.0
PAY_6                         0.0
BILL_AMT1                     0.0
BILL_AMT2                     0.0
BILL_AMT3                     0.0
BILL_AMT4                     0.0
BILL_AMT5                     0.0
BILL_AMT6                     0.0
PAY_AMT1                      0.0
PAY_AMT2                      0.0
PAY_AMT3                      0.0
PAY_AMT4                      0.0
PAY_AMT5                      0.0
PAY_AMT6                      0.0
default.payment.next.month    0.0
dtype: float64

In [5]:
shutil.copy('./default/UCI_Credit_card_7879_9833.csv','GoodDataSet')

'GoodDataSet/UCI_Credit_card_7879_9833.csv'

In [9]:
import shutil
import os
import re

class datavalidation:
    def __init__(self):
        pass
    
    def valid(self,dataset_path):
        st=os.listdir(dataset_path)
        for i in st:
            file=re.findall("[UCI_Credit_Card]+['']+[0-9]+['_']+[0-9]+['.']+[csv]",i)
            if file!=[]:
                for i in file:
                    os.makedirs('GoodDataSet',exist_ok=True)
                    shutil.copy(dataset_path+'/UCI_Credit_card_7879_9833','GoodDataSet')
            
            else:
                try:
                    os.makedirs('BadDataSet',exist_ok=True)
                    shutil.copy(dataset_path+'/'+i,'BadDataSet')
                except:
                    pass

In [10]:
c=datavalidation()
c.valid('default')

In [92]:
for i in c:
    print(i)
    shutil.copy(str(i),'BadDataSet')

UCI_Credit_card.csv

FileNotFoundError: [Errno 2] No such file or directory: 'UCI_Credit_card.csv'